*
    box-sizing: border-box

body
    margin: 0
    font-family: 'Comfortaa', cursive
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    button,
    span,
    p,
    a,
    div
        font-family: 'Comfortaa', cursive

code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

